.table-school {
    font-family: monospace;
    border-collapse: collapse;

    width: 50%;
    color: #1a1110;
}

.table-school td,
.table-school th {
    border: 1px solid #;
    background-color: transparent;

    text-align: left;
    padding: 8px;
}

.table-school tr:nth-child(even) {
    background: #f5f5f5;
}

.table-school tr:nth-child(odd) {
    background: #fffafa;
}
